<div class="text-center py-5 bg-light">
    <h1 class="display-4 font-weight-bold text-primary">Welcome</h1>
    <br />
    <br />
    <div class="container mt-4">
        <p class="lead text-dark">
            The Trainee Management System is a robust application designed to manage the lifecycle of trainees,
            instructors, departments, and courses within an educational institution.
        </p>
    </div>
</div>