@model Department;
<div class="container mt-5">
    <div class="card" style="width: 40rem;">
            <img class="logo" src="~/img/2.JPEG" alt="Card image cap" style="width: 200px; height: 200px;">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
            <p class="card-text"><strong>ID:</strong> @Model.Id</p>
            </div>
        
    </div>
</div>
<br/>
<br/>
<a asp-action="GetAll" asp-controller="Department" class="btn btn-primary">Back To list</a>
 