@model Trainee
@{
    SelectList Depts = new SelectList(ViewBag.depts, "Id", "Name"); //Id, name are property of Departments which in lis "depts"
}
@{
    SelectList grds = new SelectList(ViewBag.grades); //Id, name are property of Departments which in lis "depts"
}
<form action="/Trainee/Save" method="post">
    <div class="form-group">
      @*  <label for="exampleInputName">Id</label>
        <input type="text" class="form-control" value="@Model?.Id" name="Id">*@
        <label asp-for="Id"></label>
        <input asp-for="@Model.Id" class="form-control" />
    </div>
    <div class="form-group">
       @* <label for="exampleInputName">Name</label>
        <input type="text" class="form-control" value="@Model?.Name" name="Name"> *@
        <label asp-for="Name"></label> 
        <input asp-for="Name" class="form-control" />
       <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
      @* <label for="exampleInputName">age</label>
        <input type="text" class="form-control" value="@Model?.age" name="age"> *@
        <label asp-for="age"></label>
        <input asp-for="age" class="form-control" />
        <span asp-validation-for="age" class="text-danger"></span>
    </div>
    <div class="form-group">
        @*<label for="exampleInputage">address</label>
        <input type="text" class="form-control" value="@Model?.address" name="address">*@
        <label asp-for="address"></label>
        <input asp-for="address" class="form-control" />
        <span asp-validation-for="address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="exampleInputDepartmentName">Department Name</label>
        @* <input type="text" class="form-control" value="@Model?.Deptid" name="Deptid"> *@
        <select class="form-control" asp-for="Deptid" asp-items="Depts">
        
        </select> 

    </div>
    <div class="form-group">
        <label for="exampleInputsalry">grade</label>
        <select class="form-control" asp-for="grade" asp-items="grds">
        </select>
    </div>
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
</form>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}